<ion-header >
  <ion-toolbar color="primary">   
    <div class="header"> 
      <div class='header-content'>   
        <ion-list class="header-right" lines="none" >
          <ion-button color="secondary" class='item-content'> 
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-list> 
    
        <div class='header-center'>
          <!-- nothing here -->
        </div> 

        <ion-list class="header-right" lines="none" >
          <ion-item>
            <ion-button  color="primary"> 
              <ion-icon slot="icon-only" name="eye"></ion-icon>
            </ion-button>  
            <ion-button  color="primary"> 
              <ion-icon slot="icon-only" name="help-circle"></ion-icon>
            </ion-button> 
            <ion-button  color="primary"> 
              <ion-icon slot="icon-only" name="mail"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list> 
      </div> 
   </div> 
    <span> <strong>Olá, Weslley</strong></span>
  </ion-toolbar>
</ion-header> 

<ion-content> 
</ion-content>