ion-header {
  ion-toolbar {
    --min-height:130px; 
    padding-left:  15px; 

    span{
      margin: 20px 10px;  
      padding-bottom: 5px;
      display: block;
    }
  }
}
 
ion-button{  
  width: 50px;
  height: 50px;  
  --box-shadow:none;
}

.header
{  
  .header-content{
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
  
    ion-button {   
       --border-radius:100% !important;    
    } 
  }
   
  .header-right
  { 
    background: transparent; 
    ion-item {
      --background:transparent;
    } 
  }
    
  .header-center{
    flex-grow: 1;  
    display: flex; 
    flex-direction: row; 
    align-items: flex-start;  
  } 
}

ion-content { 
  ion-list { 
    padding-top:  25px;  
    padding-left:  10px;   
  }
 
  ion-slides {  
    margin-left: 5px;  
  }

  ion-slide {  
    .item-slider { 
      align-items: center;  
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;

      width: 80px;    
      height: 100%;
  
      span {
        font-size: 13px;
      }

      ion-icon {
        width: 25px; 
        height: 25px; 
      } 

      ion-button {    
        width: 70px; 
        height: 70px; 
        --border-radius:100% !important;     
        color: black;
        --background: var(--ion-color-secondary-contrast);
        justify-content: space-between;
      } 
    }    
    
    display: flex;
    padding-left: 15px;
  }     

  .helpers{ 
    padding-top: 20px;
  }
  .container{    
    border-radius:10px !important;     
    color: black;
    background: var(--ion-color-secondary-contrast);
    padding: 25px 43px;
    font-size: 13px; 
    margin: 0 5px;
  }  

  .my-cards {    
    ion-item {   
      ion-icon {
        width: 20px; 
        height: 20px; 
      } 
 
      --border-radius:10px !important;    
      --background: var(--ion-color-secondary-contrast); 
      margin-left:  15px;   
      margin-right:  25px;  
      font-size: 13px; 

      ion-label{
        padding: 12px;
      }
    }
  } 
}
